* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.four-card {
    display: grid;
    gap: 4em;
    justify-content: center;
    max-width: 375px;
    margin: auto;
    padding: 5em 2em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.four-card-header {
    text-align: center;
    color: hsl(234, 12%, 34%);
}

.four-card-header h1 {
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 0.8em;
}

.four-card-header h1 span {
    display: block;
    font-weight: 600;
}

.four-card-header p {
    font-size: 0.95rem;
    line-height: 1.8;
    color: hsl(229, 6%, 66%);
}

.cards {
    display: grid;
    gap: 1.5em;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1.5em;
}

.card h2 {
    font-size: 1.25rem;
    color: hsl(234, 12%, 34%);
}

.card p {
    font-size: 0.85rem;
    color: hsl(229, 6%, 66%);
    line-height: 1.6;
}

.card img {
    width: 55px;
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: 1.5em;
}

.card:nth-child(1) {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.card:nth-child(2) {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.card:nth-child(3) {
    border-top: 4px solid hsl(34, 97%, 64%);
}

.card:nth-child(4) {
    border-top: 4px solid hsl(212, 86%, 64%);
}

@media screen and (min-width: 900px) {

    body {
        display: grid;
    }

    .four-card {
        max-width: 1440px;
    }

    .four-card-header h1 {
        font-size: min(2.3vmax, 45px);
    }

    .four-card-header p {
        padding: 0 30%;
        font-size: 1rem;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "sup team calc"
            "sup karma calc";
        padding: 0 8em;
        gap: 2em;
    }

    .card:nth-child(1) {
        grid-area: sup;
        height: 50%;
        align-self: center;
    }

    .card:nth-child(2) {
        grid-area: team;
    }

    .card:nth-child(3) {
        grid-area: karma;
    }

    .card:nth-child(4) {
        grid-area: calc;
        height: 50%;
        align-self: center;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}